

body {
  
  background-color: rgb(241, 183, 234);
}
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
}


h2 {
  background-color: darkgray;
  border-color: lightblue;
  padding: 1px
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium; color: yellow;
  text-align: center;
  
  
  

}
h1 {
  border-style: solid;
  border-color: lightblue;
  border-width: 1px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: ;
  font-size: large;
}



.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.toy {
  box-shadow: 5px 10px;
  margin: 10px;
  border: 3px solid rgb(93, 130, 172);
  padding: 10px;
}

.toy image {
  height: 400px;
}

/* .toy h2 {
  text-align: center;
  background-color: black;
  color: white;
} */

ol {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
}
footer {
 text-align: center;
}
